<template name="webhookverificationcomponent">
    <div class="container">
        <div class="alert alert-info">
            {{t "administration.webhook_security_hint"}}
        </div>
        <div class="card mb-3">
            <div class="card-header">{{t "administration.create_edit_webhook_verification"}}</div>
            <div class="card-block" id="addWebhookVerification">
                <form class="form">
                    <input class="d-none" type="text" id="_id" name="_id"/>
                    <input class="d-none" type="number" id="configurationRevision" name="configurationRevision" value="0"/>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="text" id="name" name="name" maxlength="160"/>
                        <label for="name">{{t "globals.name"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="text" id="description" name="description" maxlength="2000"/>
                        <label for="description">{{t "globals.description"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="number" id="verificationPeriod" name="verificationPeriod" value="30" min="1" max="3650"/>
                        <label for="verificationPeriod">{{t "settings.user_action_verification_period"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="url" id="serviceUrl" name="serviceUrl"/>
                        <label for="serviceUrl">{{t "settings.user_action_verification_service_url"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="text" id="urlParam" name="urlParam" value="client_reference_id" maxlength="128"/>
                        <label for="urlParam">{{t "settings.user_action_verification_url_param"}}</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" type="text" id="verificationType" name="verificationType" maxlength="128"/>
                        <label for="verificationType">{{t "settings.user_action_verification_type"}}</label>
                    </div>
                    <div class="mb-3">
                        <label for="mappingRules" class="form-label">{{t "administration.webhook_mapping_rules"}}</label>
                        <textarea class="form-control font-monospace" name="mappingRules" id="mappingRules" rows="12"></textarea>
                        <span class="form-text">{{t "administration.webhook_mapping_rules_hint"}}</span>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input id="isActive" name="isActive" aria-label="Webhook verification active" class="form-check-input js-webhook-verification-state" type="checkbox">
                        <label for="isActive">{{t "administration.active"}}</label>
                    </div>
                    <pre id="provisioningStatus" class="small text-break"></pre>
                    <button type="reset" class="btn btn-secondary js-reset">{{t "globals.cancel"}}</button>
                    <button type="button" class="btn btn-primary js-add-webhook-verification">{{t "administration.create"}}</button>
                    <button type="button" class="btn btn-primary js-update-webhook-verification d-none ms-auto">{{t "navigation.save"}}</button>
                </form>
            </div>
        </div>
        <h6>{{t "administration.webhook_verification_interfaces"}}</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>{{t "globals.name"}}</th>
                    <th>{{t "globals.description"}}</th>
                    <th>{{t "administration.webhook_endpoint"}}</th>
                    <th>{{t "administration.webhook_readiness"}}</th>
                    <th>{{t "settings.user_action_verification_type"}}</th>
                    <th>{{t "tracktime.actions"}}</th>
                </tr>
            </thead>
            <tbody>
            {{#each webhookInterface in webhookVerificationInterfaces}}
                <tr>
                    <td>{{webhookInterface.name}}</td>
                    <td>{{webhookInterface.description}}</td>
                    <td><code>{{webhookInterface.endpointId}}</code></td>
                    <td>
                        {{#with securityStatus webhookInterface._id}}
                            {{#if operational}}
                                <span class="badge text-bg-success">{{t "administration.webhook_ready"}}</span>
                            {{else}}
                                <span class="badge text-bg-warning">{{t "administration.webhook_not_ready"}}</span>
                            {{/if}}
                            {{#if legacy}}<span class="badge text-bg-danger">{{t "administration.webhook_legacy"}}</span>{{/if}}
                            <div><code>{{secretEnvironmentVariable}}</code></div>
                            <div>{{referencedUsers}} {{t "administration.webhook_referenced_users"}}</div>
                        {{/with}}
                    </td>
                    <td>{{webhookInterface.verificationType}}</td>
                    <td>
                        <button class="btn js-edit-webhook-verification" data-interface-id="{{webhookInterface._id}}"><i class="fa fa-pencil"></i></button>
                        <button class="btn js-remove-webhook-verification" data-interface-id="{{webhookInterface._id}}"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>
