<template name="limitpicker">
  <div class="row row-cols-auto d-flex align-items-center">
    <span class="d-inline-block align-middle">{{t "limit.show"}} &nbsp;</span>
    <!-- <label class="align-middle"> &nbsp; {{t "limit.entries"}}</label> -->
    <div class="d-grid">
      <select name="limitpicker" id="limitpicker" class="form-select" aria-label="{{t 'limit.show'}}">
        {{#each limit in limits}}
          <option value="{{limit}}" selected="{{selected limit}}">{{limit}}</option>
        {{/each}}
      </select>
    </div>
    <!-- <label class="align-middle"> &nbsp; {{t "limit.entries"}}</label> -->
  </div>
</template>
